header {
  padding: 1rem;
  border-bottom: 1px solid #2a2a2a;
  margin-bottom: 1rem;
}

.japanese-title {
  font-size: var(--step-3);
  font-family: 'Shippori Mincho', serif;
  margin-bottom: 0.25rem;
}

header h1 {
  font-size: var(--step-4);
  font-weight: 400;
  color: #fff;
  margin-bottom: 0.25rem;
}
