.scores-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.score {
  border-radius: 12px;
  padding: 8px 12px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 8px 1px rgba(255, 0, 0, 0.3);
}

.score-value {
  color: #fff;
  font-size: var(--step-1);
}
